*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    border-radius: 100px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aquamarine;
}
.nav-right{
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}
.nav-right-name{
    text-decoration: none;
    color: black;
    cursor: pointer;
   
}
.nav-right-name:hover{
    color:blue ;
}